.login-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}
.padding-10px {
    margin: 10px;
}
.nav-section {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.menu-icon {
    display: none;
    padding: 1rem;
    cursor: pointer;
}
.menu-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list {
    display: flex;
    list-style-type: none;
}
.menu-list li {
    padding: 20px;
    font-size: large;
}
.menu-list li:hover {
    color: greenyellow;
}

.search-area {
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-radius: 5%;
    border-bottom: 1px dotted gray;
}
.search-area:hover {
    border-bottom: 1px dotted red;
    color: red;
}

.search-input {
    border: none;
    margin: 10px;
}
.search-input:focus {
    color: black;
}

.product-image {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.02);
}

.choice-text {
    font-size: xx-small;
}
.new-text {
    display: inline-block;
    color: white;
    width: 20%;
    text-align: center;
    background-color: black;
    font-size: x-small;
    font-style: italic;
    border-radius: 10px;
    -webkit-animation: glow 3s ease-in-out infinite;
    animation: glow 3s ease-in-out infinite;
}
.add-shopping-box-btn {
    margin-top: 3rem;
    width: 80%;
}
.product-text {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 3rem;
}
.product-price {
    font-size: small;
}

@-webkit-keyframes glow {
    0% {
        box-shadow: 0 0 2px white;
    }
    50% {
        box-shadow: 0 0 4px #4dccff;
    }
    100% {
        box-shadow: 0 0 2px white;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2px white;
    }
    50% {
        box-shadow: 0 0 4px #4dccff;
    }
    100% {
        box-shadow: 0 0 2px white;
    }
}
.nav {
    display: flex;
    flex-direction: column;
}
.vertical {
    display: flex;
    flex-direction: column;
}
.detail-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}
.detail-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}
.login-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-btn button {
    width: 100%;
}

@media (max-width: 768px) {
    .menu-area {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .login-section {
        position: absolute;
        margin: 0px;
        right: 0;
        top: 0;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 17rem;
        height: 100vh;
        background-color: blanchedalmond;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        z-index: 20px;
    }
    .nav-section {
        margin: 1.5rem;
    }

    .sidebar.open {
        left: 0px;
    }
    .sidebar-list {
        margin: 1.2rem;
        font-size: large;
    }
    .sidebar-list li {
        padding: 1.3rem;
        list-style-type: none;
    }
    .sidebar-list li:hover {
        color: red;
    }
    .sidebar-close-item {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
    }
    .sidebar-close-item:hover {
        color: white;
    }
    .product-text {
        margin: 1rem;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
    }
}
