.box {
    width: 50vw;
    max-width: 400px;
    height: 60vh;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.black-border {
    border: 1vw solid black;
}

.red-border {
    border: 1vw solid #f28972;
}
.green-border {
    border: 1vw solid #bfb52c;
}
.blue-border {
    border: 1vw solid #8dd5f2;
}

.item-img {
    width: 40vw;
    height: 25vw;
    max-width: 300px;
    max-height: 200px;
}

.result-img {
    width: 20vw;
    max-width: 100px;
}
.main-horizontal {
    display: flex;
    justify-content: center;
    text-align: center;
}
.history-box {
    box-shadow: inset 5vw 5vw 10vw rgba(0.9, 0.1, 1, 0.1);
    width: 100vw;
    max-width: 850px;
    background-color: white;
}
.main-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.history-box li {
    list-style-type: none;
}

button:hover {
    background-color: gold;
}

.img-bg {
    background-image: url('https://img.freepik.com/premium-vector/empty-wrestling-sport-arena-boxing-ring-dramatic-sports-vector-background-sport-competition-ring-wrestling-boxing-arena-illustration_53562-6181.jpg?w=360');
    background-size: cover;
}
