@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Myeongjo&display=swap');
body {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1rem;
}
.italic-text {
    font-style: italic;
}
/* 배경 영상 스타일 */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37%;
    height: auto;
    max-width: 80%;
    min-width: 34%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: clamp(0em, 8vw, 6rem);
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.button-hover:hover {
    background-color: pink;
}

.margin-box {
    display: flex;
    flex-direction: column;
    margin: clamp(0rem, 0rem, 1rem);
    align-items: center;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontal-box {
    display: flex;
}
.mood-img {
    width: 30px;
    height: 30px;
}

h1 {
    font-size: clamp(2rem, 3vw, 3.8rem);
}
h2 {
    font-size: clamp(1rem, 2vw, 2.4rem);
}
h4 {
    font-size: clamp(0.8rem, 1.4vw, 1.5rem);
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .weather-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        height: auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    h1 {
        font-size: clamp(2rem, 3vw, 3.8rem);
    }
    h2 {
        font-size: clamp(1rem, 2vw, 2.3rem);
    }
    h4 {
        font-size: clamp(0.8rem, 1.4vw, 1.5rem);
    }
}
